body {
    margin: 15;
         padding: 8;
    font-family: Arial, sans-serif;
    background-color: #00aaff;
    color: #000000
      ;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #00CCFF;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

.add-task {
    margin-bottom: 20px;
    text-align: center;
}

.add-task input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    color: #000000
      ;
    border: none;
    border-radius: 5px;
}

.add-task button {
    padding: 8px 20px;
    background-color: #000000;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.add-task button:hover {
    background-color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: #000000;
}
